@media screen and (min-width:768px) {

    picture,
    .container {
        max-width: 650px;
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    picture {
        width: 50%;
    }

    section {
        margin-top: 5rem;
        flex-direction: row;
        justify-content: space-around;
    }

    .container,
    .image {
        max-width: 40%;
    }

    .container {
        align-items: flex-start;
    }

    p,
    button {
        margin-top: 2rem;
    }
}