* {
    margin: 0;
    padding: 0;
}

$background: #FFFFFF;
$primary: #e4c1ae;
$dark: #121212;

@mixin font($weight, $size: 16px, $lineHeight: 100%) {
    font-family: 'Roboto';
    font-weight: $weight;
    font-size: $size;
    line-height: $lineHeight;
}

body {
    background-color: $background;
    display: grid;
    place-content: center;
}

main {
    min-height: 100vh;
    max-width: 1440px;
    width: 100%;
}

section {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

h1,
p,
button {
    margin-top: 1rem;
}

h1 {
    @include font($weight: 700, $size: 36px, $lineHeight: 120%);
}

p {
    @include font($weight: 300, $lineHeight: 150%);
    text-align: justify;
}

button {
    @include font($weight: 700);
    border: none;

    padding: 16px 40px;
    border-radius: 2rem;
    background-color: $primary;
    color: $background;
}

button:hover {
    opacity: .8;
    cursor: pointer;
}

button:active {
    box-shadow: inset 0px 0px 10px black;
}

img {
    min-width: 230px;
    width: 80%;
}

@media screen and (min-width:768px) {
    img {
        content: url('/../images/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_c_scale,w_784.jpg');
    }

    img,
    .container {
        max-width: 650px;
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    img {
        width: 50%;
    }

    section {
        margin-top: 5rem;
        flex-direction: row;
        justify-content: space-around;
    }

    .container,
    .image {
        max-width: 40%;
    }

    .container {
        align-items: flex-start;
    }

    p,
    button {
        margin-top: 2rem;
    }
}